mixin header(options)

    
    nav(class="navbar navbar-light navbar-expand-md justify-content-left")
        button(class="navbar-toggler mr-2", type="button", data-toggle = "collapse", data-target ="#collapsingNavbar")
            span(class="navbar-toggler-icon")

        div(class="navbar-collapse collapse justify-content-left order-2", id="collapsingNavbar")
            ul(class="navbar-nav mx-auto text-left")
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle", href="#", id="navbarDropdownMenuLink", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", style={color:'black'}) HOME
                    .dropdown-menu
                        a.dropdown-item(href='index.html') Homepage
                        a.dropdown-item(href='about.html') About
                        a.dropdown-item(href='whats-new.html') What's New
                        a.dropdown-item(href='terms-of-use.html') Terms Of Use
                        a.dropdown-item(href='statistics.html') Detailed Statistics
                        a.dropdown-item(href='acknowledgements.html') Acknowledgements
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle", href="#", id="navbarDropdownMenuLink",  role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", style={color:'black'}) BROWSE
                    .dropdown-menu
                        a.dropdown-item(href='byspecies.html') By animal species
                        a.dropdown-item(href='byregion.html') By brain region
                        a.dropdown-item(href='bycelltypes.html') By cell types
                        a.dropdown-item(href='bylab.html') By archive
                        a.dropdown-item(href='byrandom.html') Random cells
                        a.dropdown-item(href='neuronatlas') Neuron Atlas
                        a.dropdown-item(href='downloadcart.html') Download Cart
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle", href="#", id="navbarDropdownMenuLink",  role="button",  data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", style={color:'black'}) SEARCH
                    .dropdown-menu
                        a.dropdown-item(href='metadata.html') Metadata
                        a.dropdown-item(href='morphometry.html') Morphometry
                        a.dropdown-item(href='keywords.html') Keywords
                        a.dropdown-item(href='ontosearch.html') Onto Search
                        a.dropdown-item(href='api.html') API
                        
                        a.dropdown-item(href='https://neuromorpho.org/summaryreporting/') Summary reporting
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle", href="#", id="navbarDropdownMenuLink",  role="button" , data-toggle="dropdown", aria-haspopup="true", aria-expanded="false" ,style={color:'black'}) LITERATURE COVERAGE
                    .dropdown-menu
                        a.dropdown-item(href='literaturesearch.html') Literature Search
                        a.dropdown-item(href='dataavailability.html') Data availability
                        a.dropdown-item(href='callfordata.html') Call for data
                        a.dropdown-item(href='https://neuromorpho.org') Data usage
                        a.dropdown-item(href='https://bibliometrics.computational-neuromorpho.org/') Bibliometric reporting
                li(class="nav-item")
                    a(class="nav-link", href="terms-of-use.html", id="navbarDropdownMenuLink", role="button" , style={color:'black'}) TERMS OF USE
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle", href="#", id="navbarDropdownMenuLink", data-toggle="dropdown", style={color:'black'}) HELP
                    .dropdown-menu
                        a.dropdown-item(href='quickstart.html') Quickstart
                        a.dropdown-item(href='frequentlyaskedquestions.html') FAQs
                        a.dropdown-item(href='toolsandlinks.html') Tools & Links
                        a.dropdown-item(href='knownissues.html') Known Issues
                        a.dropdown-item(href='contactus.html') Contact Us
                        a.dropdown-item(href='index.html') Site Map
                        //- a.dropdown-item(href='https://neuromorpho.org/beta/sitemap.jsp') Site Map
                li(class="nav-item")
                    a(class="nav-link", href="https://neuromorpho.org/beta/DownloadNeuronRelatedFiles.jsp", id="navbarDropdownMenuLink", role="button", style={color:'black'}) DOWNLOAD CART
                
            

