extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'NeuroMorpho.Org'

block content

    //- Navbar

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container',
    })


    //- Page Header

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

    .album.py-5.bg-light
        .container
            .row
                .blog-post
                    strong(align="justify") Known Issues in version 8.2
                    ul
                        li Morphometry metric Depth to be declared as 'Not applicable' (instead of a 0 value) when a neuron is categorized as 2D
                        li Morphometry metric Average Diameter to include 'Not applicable' value when the neuron neurites' radii is constant


block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-light',
        footerStyle: 'footer-light'
    }) 